<form action="/posts/<%=@post.id%>/comments" method="POST">
  <label>text</label>
  <textarea rows="5" column="50" name="comment[text]"></textarea><br>
  <input type="submit" name="add comment">
</form>
