<div class="container">
  <p>
    user: <%=@user.username%>
  </p>
  <ul>
    <li><a href="/users/<%=@user.id%>/posts">submissions</a></li><br>
    <li><a href="/users/<%=@user.id%>/comments">comments</a></li>
  </ul>
</div>