<div class="container">
<form id="newpost" action="/posts" method="POST">
  <label>title </label>
  <input type="text" name="post[title]"><br>
  <label>text</label>
  <textarea rows="5" column="50" name="post[body]" form="newpost"> </textarea><br>
  <input type="submit" name="submit">
</form>
</div>