<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.gitdub.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Hacker News</title>
</head>
<body>
<header>
<table>
  <%if current_user%>
  <tr class="top">
    <td style="font-weight: bold">Hacker News</td>
    <td><a href="/">homepage</a></td>
    <td><a href="/posts/new">submit</a></td>
    <td style="text-align: right"><%=current_user.username%></td>
    <td style="text-align: right"><%=erb :_logout%></td>
  </tr>
  <%else%>
  <tr>
    <td><a href="/">homepage</a></td>
    <td><a href="/posts/new">submit</a></td>
    <td><a href="/users/new">create account</a></td>
    <td style="text-align: right, padding-right: 4px;"><a href="/sessions/new">login</a></td>
  </tr>
  <%end%>
</table>
</header>
  <%= yield %>
</body>
</html>
